---
export type Props = {
	theme: 'primary' | 'secondary';
	class?: string;
};

const { theme, class: className } = Astro.props;
---

<p
	class:list={[
		'code relative m-px rounded-md px-2 py-1 text-sm text-white whitespace-nowrap',
		theme,
		className,
	]}
>
	<slot />
</p>

<style>
	p::before {
		@apply absolute inset-0;
		content: '';
		margin: -1px;
		border-radius: inherit;
		background: linear-gradient(135deg, #3b82f6 0%, #06b6d4 100%);
		z-index: -2;
	}

	p::after {
		@apply absolute inset-0 z-blur;
		content: '';
		border-radius: inherit;
		background: rgb(26, 38, 54)
			linear-gradient(135deg, rgba(59, 130, 246, 0.2) 0%, rgba(6, 182, 212, 0.2) 100%);
	}

	p.primary::before {
		background: linear-gradient(135deg, #3b82f6, #06b6d4);
	}

	p.primary::after {
		background: rgba(26, 38, 54)
			linear-gradient(135deg, rgba(59, 130, 246, 0.3), rgba(6, 182, 212, 0.3));
	}
</style>
