---
import MainLayout from '~/layouts/MainLayout.astro';
---

<MainLayout title="Page not found" canonicalURL={null}>
	<section class="grid-container relative overflow-hidden py-12 sm:py-16 md:py-20 lg:py-24 xl:py-28">
		<div class="my-auto flex h-full flex-col items-center justify-center gap-8">
			<div class="mt-8 flex flex-col items-center text-center">
				<h1 class="code text-5xl text-white sm:text-6xl md:text-7xl lg:text-8xl">404</h1>
				<p class="body-large mb-2 mt-3 lg:text-3xl">Page not found</p>
				<p class="body lg:body-large">
					We couldn't find that page.<br class="sm:hidden" /> Check the address or <a
						href="/"
						data-astro-prefetch
						class="link-underline border-astro-pink-light text-astro-pink-light">head back home</a
					>.
				</p>
			</div>
		</div>
		<div class="bleed-full absolute inset-x-0 bottom-0 z-blur h-[50vw] translate-y-[60%] bg-blue-purple-gradient opacity-50 mask-radial-gradient"></div>
	</section>
</MainLayout>
